__pycache__/
*.py[cod]
*.log
*.mat
.idea
preprocess
preprocessed
store_model
store_physnet_model
PreprocessedData
PreTrainedModels
runs
temp
facial_region_test.py
interp_test.py
debug_utils.py
multi_test.py
neural_methods/trainer/PhysnetTrainer_backup.py
debug_utils_physnet.py
test.yaml
*.out

# --- datasets / preprocessing / logs ---
data/
PreprocessedData*/
log/
runs/

# --- videos & large files ---
**/*.avi
**/*.mp4
**/*.mkv
**/*.zip
**/*.tar
**/*.tar.gz
**/*.pth
**/*.pt
**/*.ckpt
